<app-navbar></app-navbar>
<div class="container text-center mt-5">
    <h1>
        Bienvenido 
    </h1>
    <p>
        Este es un projecto Angular que lleva a cabo una recopilación de datos de una API de Rick y Morty <br>
        En esta versión del proyecto practicamos las llamadas de datos desde una API, en el ejercicio <br>
        realizado muestra 5 tarjetas aleatorias de la API en el que si seleccionamos una podremos ver más <br>
        detalles del personaje.
    </p>
    <div>
        <a class="btn btn-primary mx-1" href="./register" role="button">Registrarse</a>
        <a class="btn btn-primary mx-1" href="./login" role="button">Iniciar Sesion</a>
    </div>
</div>

