<div class="container text-center mt-5">
    <h1>
        Bienvenido 
    </h1>
    <p>
        Este es un projecto Angular que lleva a cabo una recopilación de datos en caché, simulando que son de una API de Rick y Morty <br>
        En esta versión del proyecto practicamos las llamadas a componentes hijos y el enruttamiento de las mismas
    </p>
    <div>
        <a class="btn btn-primary mx-1" href="./register" role="button">Registrarse</a>
        <a class="btn btn-primary mx-1" href="./login" role="button">Iniciar Sesion</a>
    </div>
</div>

